.main{
	font-family: 'Montserrat', sans-serif;
}
.img-school-logo{
	width: 85px;
	height: 85px;
}
.btn-home-login{
	color: #ef7215;
	text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .btn-home-login {
	width: 100%;
	margin-top: 15px;
  }
}
.lbl-school-name{

	font-size: 35px;
  font-weight: 900;
	white-space: nowrap;
}
.navbar{
	padding-top: 20px;
	padding: 20px 10px 0px 10px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.home-main-body{
	text-align: center;
	margin-top: 170px;
}
.lbl-home-sub{
	font-size: 23px;
	padding-bottom: 20px;
}
.lbl-home-main{
	font-size: 65px;
}

.lbl-home-main{
  animation-duration: 3s;
  animation-name: slideup;
}

@-webkit-keyframes slideup {
  from {
    transform: translate(1px, 30px);
    opacity: 0%;
    width: 300%; 
  }

  to {
    opacity: 100%;
    width: 100%;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


.btn-getstarted{
	  animation-duration: 2s;
  animation-name: pulse;
}

.log-label{
  font-weight: 4px;
  font-size: 15px;
  font-weight:300;
  font-style: normal;
  letter-spacing: 1px;
  margin-bottom: -6px;
}

@media screen and (max-width: 988px) {
  .feature {
      height: 500px;
  }
  .feature-box{
    margin-top: 20px;
    margin-bottom: -20px;
  }
  .reg-form{
    margin-top: 0px;
    height: 100%;
  }
}
.feature{
  margin-top: auto;
  margin-bottom: auto;
  height: 960px;
}
.feature-box{
  margin:auto;
  margin-top: 200px;
}
.fLogo{
  width: 65px;
}
.fLabel{
  margin-top: auto;
  margin-bottom: auto;
}
.fLabel b {
  font-size: 26px;
}
.fLabel p {
  font-size: 24px;
}
.featureTitle{
  font-size: 52px;
}
.fPassword{
  color: gray;
  padding-left: 2px;
}
.signup-label{
  font-size: 52px;
  font-weight: 900;
}
.signup-sublabel{
  font-size: 27px;
}
.reg-form{
  margin-top: 50px;
  padding-bottom: 158px;

}
.main-reg-form{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

}
input{
  letter-spacing: 0.001em;
  font-family: sans-serif;
  font-weight: bold;
}
body{
    overflow-x: hidden; /* Hide horizontal scrollbar */
}