.nav-link-special{
	color: 	#800000 ;
	padding-top: 5px;
	font-size: 20px;
}
.nav-link-2{
		color: #800000 ;
}
.nav-link-2:hover{
	color: #800000 ;
}
.welcome-lbl{
	font-size: 21px;
	letter-spacing: 1px;
	padding-top: 10px;
	padding-bottom: -5px;
	font-weight: bold;
	color: rgb(5,41,89);
}
.bannerprism{
  background: url(../../../assets/imgs/banner.jpg) ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.logo{
	  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.btn-getstarted{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: absolute;
	right: 6px; 
	bottom: -6px; 
	border-radius: 50px;

}
.card-overflow{
  height:295.5px;
  overflow-y: scroll;
}
.addshadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-overflow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.card-overflow::-webkit-scrollbar-thumb {
    background-color: #487489;
}

.card-overflow::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
.product-title2{
  font-style: 21;
}
.product-description2{
  font-style: 21;
}
